.bar-wrapper {
    display: block;
    position: relative;
    margin-bottom: 50px;
    background-image: linear-gradient(to bottom, #E1DDD9, #E9E5E2);
    height: 20px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 0 #BEBBB9 inset, 0 1px 0 #FCFCFC;
    -webkit-box-shadow: 0 1px 0 #BEBBB9 inset, 0 1px 0 #FCFCFC;
    box-shadow: 0 1px 0 #BEBBB9 inset, 0 1px 0 #FCFCFC;
}

.bar {
    height: 18px;
    margin: 1px 2px;
    position: absolute;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 0 #FCFCFC inset, 0 1px 0 #BEBBB9;
    -webkit-box-shadow: 0 1px 0 #FCFCFC inset, 0 1px 0 #BEBBB9;
    box-shadow: 0 1px 0 #FCFCFC inset, 0 1px 0 #BEBBB9;
}

.bar-title {
    position: absolute;
    top: 0;
    left: 0;
}
