@import "../../static/css/settings";

$job-border-radius: 3px;

.job {
  display: flex;

  &__image {
    flex: 1 0 25%;
    border-top-left-radius: $job-border-radius;
    border-bottom-left-radius: $job-border-radius;
    max-width: 150px;
    width: 33%;

    img {
      width: 100%;
      // border-radius: 50%;
      border-top-left-radius: $job-border-radius;
    }
  }

  &__wrapper {
    display: flex;
    flex: 0 1 50%;

    &:first-child {
      border-right: 1px solid #AAA;
    }
    &:last-child {
      border-left: 1px solid #AAA;
    }

    &--empty {
      h1 {
        visibility: hidden;
      }
    }
  }

  &:nth-child(2) {
    .job__wrapper {
      order: 1;
      border-right: 0;
      border-left: 1px solid #AAA;
    }

    .job__wrapper--empty {
      order: 0;
      border-left: 0;
      border-right: 1px solid #AAA;
    }
  }
}
