@import "../../static/css/settings";

$job-border-radius: 3px;
$job-border-color: #AAA;

.job {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  &__image {
    display: flex;
    flex: 1 0 25%;
    border-top-left-radius: $job-border-radius;
    border-bottom-left-radius: $job-border-radius;
    max-width: 150px;
    align-self: center;
    border: 1px solid green;
    position: relative;
    border-radius: 4px;
    padding: $gutter-half;
    text-align: center;
    margin-right: $gutter;

    img {
      width: 100%;
      // border-radius: 50%;
      border-top-left-radius: $job-border-radius;
    }
  }
}
