@import "settings";
@import "boilerplate-helpers";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  background: #000 url('https://www.fabiobier.com/static/img/tileable-classic-nebula-space-patterns/7.jpg') 0 0 repeat;
}

#root,
.App {
  height: 100%;
}

img {
  width: 100%;
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

header {
  min-height: 100%;
  width: 100%;
  background: #000 url('https://www.fabiobier.com/static/img/poster.jpg') 0 0 no-repeat;
  box-shadow: 0 95px 100px 55px #050010;
}

.main {
  max-width: 68em;
  margin: $gutter auto;
  padding: $gutter;
}
