@import "typography";
@import "settings";
@import "boilerplate-helpers";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  background: #000 url('../img/nebula-space-pattern.jpg') 0 0 repeat;
}

#root,
.App {
  height: 100%;
}

h1 {
  margin: 0 0 $gutter 0;
}

img {
  width: 100%;
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

.main {
  max-width: 68em;
  margin: $gutter auto;
  padding: $gutter;
}
