@import "../../static/css/settings";

.pane {
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    border-radius: 3px;
    margin: 0 auto $gutter;
    transition: all 400ms ease;
    transform: translate3d(0px, 100px, 0) rotateX(-30deg) scale(1.25, 1.25);
    opacity: 0;

    &__title,
    &__content {
        padding: $gutter;
    }

    .rounded {
        border-bottom: $gutter solid #FFF;
        border-radius: 3px 3px;
    }
}

.pane.appeared {
    transform: translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1);
    opacity: 1;
}

// .tile.appeared,
// .no-js .tile {
//     @include transform(translate3d(0px, 0px, 0px) rotateX(0) scale(1, 1));
//     opacity: 1;
// }
//
// .contact-map {
//     @include span-columns(4);
//     margin-bottom: $gutter;
// }
//
// .contact-form {
//     @include span-columns(4);
// }
//
// @include media($tablet) {
//     .contact-map {
//         @include span-columns(4);
//     }
//
//     .contact-form {
//         @include span-columns(4);
//     }
// }
