// @import "../../static/css/settings";
//
// $navbar-bg-color: rgba($color-black-1, .6);
// $navbar-link-color: $color-white-1;
//
// .navbar {
//   display: flex;
//   flex-flow: row nowrap;
//   align-items: flex-start;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 50;
//   background: $navbar-bg-color;
//
//   ul {
//     display: flex;
//     flex-flow: column nowrap;
//     align-content: space-between;
//     list-style: none;
//     margin: 0;
//     padding: 0;
//
//     transition: all .2s ease-in-out;
//     opacity: 0;
//     transform: translateY(-100%);
//   }
//
//   a {
//     display: inline-block;
//     padding: $gutter;
//     color: $navbar-link-color;
//   }
//
//   &--collapsed {
//     ul {
//       opacity: 1;
//       transform: translateY(0);
//     }
//   }
// }
//
// @media screen and (min-width: 768px) {
//   .navbar {
//     flex-flow: column nowrap;
//     align-items: center;
//
//     ul {
//       flex-flow: row nowrap;
//     }
//   }
// }
//
// .button--test {
//   z-index: 9999;
//   position: absolute;
//   top: 0;
//   right: 0;
// }

.navbar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90;
  background: #242424;
  padding: 0 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#navbar__toggle {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;

  input {
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;

    &:checked ~ ul {
      transform: none;
    }
  }
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #242424;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(0, -100%);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
