@import "../../static/css/settings";

$navbar-bg-color: rgba($color-black-1, .6);
$navbar-link-color: $color-white-1;

.navbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: $navbar-bg-color;

  ul {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    transition: all .2s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
  }

  a {
    display: inline-block;
    padding: $gutter;
    color: $navbar-link-color;
  }

  &--collapsed {
    ul {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    flex-flow: column nowrap;
    align-items: center;

    ul {
      flex-flow: row nowrap;
    }
  }
}

.button--test {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
}
