@import "../../static/css/settings";

$navbar-bg-color: rgba($color-black-1, .6);
$navbar-link-color: $color-white-1;

.navbar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $navbar-bg-color;
  z-index: 50;

  ul {
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: inline-block;
    padding: $gutter;
    color: $navbar-link-color;
  }
}
