@import "boilerplate-helpers";

html, body {
  height: 100%;
}

body {
  background: #000 url('https://www.fabiobier.com/static/img/tileable-classic-nebula-space-patterns/7.jpg') 0 0 repeat;
}

#root,
.App {
  height: 100%;
}

header {
  min-height: 100%;
  width: 100%;
  background: #000 url('https://www.fabiobier.com/static/img/poster.jpg') 0 0 no-repeat;
  box-shadow: 0 95px 100px 55px #050010;
}

.main {
  max-width: 68em;
  margin: 16px auto;
}
