@import "../../static/css/settings";

$base-spacing: 1.5em !default;
$footer-background: transparent url('../../static/img/earth.png') center bottom no-repeat;
$footer-color: white;
$footer-link-color: transparentize($footer-color, .6);
$footer-disclaimer-color: transparentize($footer-color, .6);

footer {
    background: $footer-background;
    padding: ($base-spacing * 2) $gutter;
    width: 100%;

    .footer-logo {
        margin-bottom: 2em;
        text-align: center;

        img {
            height: 3em;
        }
    }

    .footer-links {
      margin-bottom: $base-spacing;
    }

    ul {
        margin-bottom: $base-spacing * 2;
    }

    li a {
        color: $footer-link-color;

        &:focus,
        &:hover {
            color: transparentize($footer-color, 0);
        }
    }

    li h3 {
        color: $footer-color;
        font-size: 1em;
        font-weight: 800;
        margin-bottom: .4em;
    }

    hr {
        border: 1px solid transparentize($footer-disclaimer-color, .3);
        margin: 0 auto $base-spacing;
        width: 12em;
    }

    p {
        color: $footer-disclaimer-color;
        font-size: .9em;
        line-height: 1.5em;
        margin: auto;
        max-width: 35em;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        .footer-links {
            margin-top: 285px;
            padding: 0 $gutter;
        }
    }
}
